<h1>Listing callcenters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>People</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @callcenters.each do |callcenter| %>
      <tr>
        <td><%= callcenter.name %></td>
        <td><%= callcenter.date %></td>
        <td><%= callcenter.people %></td>
        <td><%= link_to 'Show', callcenter %></td>
        <td><%= link_to 'Edit', edit_callcenter_path(callcenter) %></td>
        <td><%= link_to 'Destroy', callcenter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Callcenter', new_callcenter_path %>
