<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
<<<<<<< HEAD
      
=======
      <th>Password digest</th>
>>>>>>> login&logout
      <th>Campaign</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
<<<<<<< HEAD
        
=======
        <td><%= user.password_digest %></td>
>>>>>>> login&logout
        <td><%= user.campaign %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
<<<<<<< HEAD
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure you wanna delete?' } %></td>
=======
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
>>>>>>> login&logout
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
