<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<<<<<<< HEAD

=======
<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>
>>>>>>> login&logout

<p>
  <strong>Campaign:</strong>
  <%= @user.campaign %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
