<p id="notice"><%= notice %></p>

<p>
  <strong>Contact type:</strong>
  <%= @contact.contact_type %>
</p>

<p>
  <strong>Value:</strong>
  <%= @contact.value %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
